.checkout {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
  }

  &__subscription {
    color: $primary-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;

    &-selection {
      grid-column: 1 / 3;
    }

    &-price {
      height: 100%;
    }

    &-box {
      img {
        max-width: 100%;
      }
    }
  }

  &__buttons {
    display: flex;

    .btn {
      width: 50%;
    }
  }

  &__form {
    grid-row: 1 / 2;
  }
}
