.btn {
  width: 100%;
  height: 100%;
  border-radius: $border-round;
  cursor: pointer;

  &--primary {
    color: $color-white;
    background-color: $primary-color;
    border: none;
  }

  &--secondary {
    color: $primary-color;
    background-color: $color-white;
    border: 2px solid $primary-color;
  }
}
