.btn {
  width: 100%;
  border-radius: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  &--primary {
    color: $color-white;
    background-color: $primary-color;
    border: none;
  }

  &--secondary {
    color: $primary-color;
    background-color: $color-white;
    border: 1px solid $secondary-color;
  }
}
