.form {
  color: $secondary-color;

  &-control,
  &-select {
    border: 2px solid $secondary-color;
    border-radius: $border-round;
    padding: 1rem;
    font-size: 1.6rem;
  }

  &-label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__buttons {
    margin-top: 10rem;
  }

  &--user-data {
    height: 30rem;
  }
}
