.form {
  color: $secondary-color;

  &-group {
    margin-bottom: 4rem;
  }

  &-control,
  &-select {
    border: 2px solid $secondary-color;
    border-radius: $border-round;
    padding: 1.45rem 2rem;
  }

  &-label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__buttons {
    margin-top: 10rem;
  }
}
